html, body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 14px;
  color: #555759;
  line-height: 1;
  background-color: #f8fafb;
}

.intro {
  width: 400px;
  margin: 150px auto 0;
  text-align: center;
  padding: 100px;
  border: 2px solid gray;
  border-radius: 5px;
}

.bolder {
  font-weight: 500;
}

.shadow {
  box-shadow: 0 0 65px 0 rgba(15, 90, 153, 0.22);
}

.submenu {
  display: flex;
  padding: 1rem 0;
  > div {
    font-size: 16px;
    padding: 4px 32px;
    cursor: pointer;
    &.active {
      font-weight: 500;
    }
    &:not(:last-child) {
      border-right: 1px solid #8e8e8e;
    }
  }
}

h2 {
	font-size: 23px;
  color: #3a3c3d;
  font-weight: normal;
  margin-top: 0;
}

.five-px-modal-border-radius {
  > div:first-of-type > div:first-of-type > div:first-of-type {
    min-width: 888px;
    border-radius: 5px !important
  }
}

input:invalid {
  box-shadow: none;
}

.is-invisible {
  display: none;
}

.flag-icon {
  width: 1.33333333em;
  height: 1em;
}
